.baseline {
	font-size: 10px;
	font-family: Tahoma;
	padding-left:13px;
	background-color:#004684;
	color:#ffffff;
}
.sidecontentdiv{
	margin-left:13px;
	font-family: Tahoma;
	font-size: 10px;
	margin-left:13px;
}
.maincontentdiv{
	width:586px;
	margin-left: 21px;
	font-size: 12px;
	font-family: Tahoma;
}
.headercontentdiv{
	width:586px;
	margin-left: 21px;
	font-size: 12px;
	font-family: Tahoma;
}